@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--preto);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--ciano), var(--amarelo));
    border-radius: 20px;
}

:root {
    --amarelo: #F7EC1A;
    --claro: #F8F8F8;
    --ciano: #42C1C3;
    --preto: #090909;
    --poppins: "Poppins", sans-serif;
    --titulo: "Anton", sans-serif;
    --texto-animado: "Workbench", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #090909;
}


#intro {
    position: fixed;
    inset: 0;
    background: black;
    z-index: 9999;
    transition: opacity 1s ease-out;
}

#intro video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    z-index: 2;
    transition: 0.8s ease;
}

header .logo img{
    min-width: 30%;
    max-width: 200px;
    margin: 20px;
}

header:hover {
    background-color: rgba(0, 0, 0, 0.482);
}

/*background Vídeo*/

.bgvideo {
        position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.bgvideo video{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 110%;
    object-fit: cover;
    will-change: transform;
    filter: brightness(0.3);
}


.dispatch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.dispatch img {
    width: 100%;
}

/*links*/

header.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

header a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 1.5em;
    padding: 10px 5px 10px 10px;
    border: 1px solid white;
    border-radius: 10px;
}

header a.discord {
    padding-right: 10px;
}

header a:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

/*about dispatch*/

#about {
    position: relative;
    z-index: 2;
    background-color: #090909;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 1px -10px 20px 11px rgba(0, 0, 0, 0.304);
}

#about .sobre-game {
    width: 500px;
    padding: 15px;
    text-align: center;
}

#about .sobre-game h1 {
    position: relative;
    color: var(--amarelo);
    font-size: 5em;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    
}

.sobre-game h1::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 278px;
    background: linear-gradient(to left, var(--claro), var(--amarelo), var(--ciano), var(--claro));
    bottom: 7px;
}

#about .sobre-game h2 {
    color: var(--ciano);
    font-size: 2em;
    font-family: var(--poppins);
    font-weight: 600;
}

#about .sobre-game p {
    padding-right: 20px;
    padding-left: 20px;
    color: var(--claro);
    font-size: 1.2em;
    text-align: justify;
    font-family: var(--poppins);
}

#about .image {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

#about .image img {
    max-width: 100%;
    padding: 15px;
}

/*Plataformas disponíveis*/

#plataformas {
    position: relative;
    margin: auto;
    background: url(images/terminal_SDN.webp) center/cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}

#plataformas::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.icon {
    position: relative;
    z-index: 2;
}

.icon i{
    color: var(--claro);
    font-size: 7em;
    transition: 1s ease;
    margin: 20px;
}

.icon i:hover {
    color: #088F80;
    text-shadow: 1px 3px 8px black;
    transform: scale(1.2);
}

.links2 {
    display: flex;
}


/*Plataforma / Texto animado*/

#plataformas .compre{
    font-size: 1.7em;
    font-family: var(--texto-animado);
    text-shadow: 2px 3px 8px black;
    text-align: center;
    background-color: var(--preto);
}

.compre span{
    position: relative;
    z-index: 2;
}

.compre span::before{
    content: "";
    color: var(--claro);
    animation: palavras 20s infinite;
}

.compre span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #29BEB0;
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 15px);
    background-color: var(--preto);
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 15px);
    }
}

@keyframes cursor {
        0%{
            border-left: 2px solid var(--preto);
        }
}

@keyframes palavras {
    0%, 20%{
        content: "Jogue agora!";
    }
    21%, 40% {
        content: "Garanta sua experiência!";
    }
    41%, 60%{
        content: "Disponível agora!";
    }
    61%, 80%{
        content: "Playstation"
    }
    81%, 100%{
        content: "Steam"
    }
}

/*trailers*/
#trailers {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

#trailers .trailer-titulo h1{
    position: relative;
    font-family: var(--titulo);
    color: var(--claro);
    text-align: center;
    padding: 40px;
    font-size: 3em;
    font-weight: 400;
}

#trailers .trailer-titulo h1::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 158px;
    background: linear-gradient(to left, var(--claro), var(--amarelo), var(--ciano), var(--claro));
    bottom: 45px;
}

.cards-trailers{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-bottom: 100px;
}

.trailer .capa a img{
    width: 350px;
    border-radius: 15px;
    border: 1px solid var(--claro);
    transition: 1s ease;
}

.trailer .capa a img:hover{
    filter: brightness(0.8) brightness(2);
    border: 2px solid var(--ciano);
}

/*empresa*/

#empresa {
    position: relative;
    background-image: url(images/empresa_background.png);
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#empresa::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.58);
    box-shadow: inset 0px 20px 20px 6px black;
    z-index: 1;
}

.conteudo {
    position: relative;
    z-index: 2;
    text-align: center;
}

.empresa_imagem img {
    width: 50%;
    padding: 30px;
}

.empresa_texto h1 {
    color: var(--claro);
    font-family: var(--poppins);
    font-weight: 500;
}

.empresa_texto p{
    color: var(--claro);
    font-family: var(--poppins);
    text-align: justify;
    font-weight: 500;
    font-size: 1.1em;
    padding: 10px;
}

/*footer*/

footer {
    position: absolute;
    background-image: url(images/footer_background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.674);
    box-shadow: inset 0px 20px 20px 6px black;
    z-index: 1;
}

.conteudo_footer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner img{
    display: block;
    width: 300px;
}

.banner h1 {
    text-align: center;
    color: var(--claro);
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 1.5em;
    text-shadow: 1px 2px 8px black;
}

.conteudo_footer .contato p{
    font-family: var(--poppins);
    font-size: 1.5em;
    color: var(--claro);
}

.contato {
    text-align: center;
}

.conteudo_footer .contato a {
    text-decoration: none;
    color: var(--claro);
    font-size: 1.2em;
    font-family: var(--poppins);
    transition: 1s ease;
}

.conteudo_footer .contato a:hover {
    color: var(--amarelo);
    border-bottom: 1px solid var(--claro);
}



/*media query pc*/
@media screen and (min-width: 1024px) {
    header {
        justify-content: space-between;
    }

    #about .sobre-game{
        text-align: initial;
    }

    #about .sobre-game p {
    padding-left: 0px;
    padding-right: 0px;
    color: var(--claro);
    font-size: 1.2em;
    text-align: justify;
    font-family: var(--poppins);
}

    #plataformas .links2 .icon i {
        font-size: 9em;
    }

    #plataformas .compre {
        font-size: 3em;
    }

    #trailers .trailer-titulo h1{
    font-size: 4em;
    }

    #trailers .trailer-titulo h1::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 215px;
    background: linear-gradient(to left, var(--claro), var(--amarelo), var(--ciano), var(--claro));
    bottom: 30px;
}

    .cards-trailers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    }

    .trailer .capa a img{
    width: 400px;
    border-radius: 15px;
    border: 1px solid var(--claro);
    transition: 1s ease;
}

#empresa {
    position: relative;
    background-image: url(images/empresa_background.png);
    width: 100%;
    height: 95vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#empresa::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.58);
    box-shadow: inset 0px 0px 20px 12px rgb(0, 0, 0);
    z-index: 1;
}

.conteudo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
    height: 80vh;
}

.empresa_imagem img {
    width: 75%;
    padding: 30px;
}

.empresa_texto {
    width: 40%;
}

.empresa_texto h1 {
    color: var(--claro);
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 3em;
}

.empresa_texto p{
    color: var(--claro);
    font-family: var(--poppins);
    text-align: justify;
    padding: 20px;
    font-weight: 600;
    font-size: 1.2em;
}

.banner img{
    display: block;
    width: 100%;
}

.banner h1 {
    text-align: center;
    color: var(--claro);
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 3em;
    text-shadow: 0px 2px 8px black;
}

.conteudo_footer .contato p{
    font-family: var(--poppins);
    font-size: 2em;
    color: var(--claro);
}
}